body{
	background:linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(images/p1.jpg);
	background-size:cover;
	background-position:center;
}
.login-box{
	max-width:700px;
	float:none;
	margin:200px auto;
	padding:30px;
	
	
}
.login-left{
	background-color:deb887;
	padding:50px;
	float:left;
}
.login-right{
	background-color:#ffe4c4;
	padding:70px;
	float:right;
}
.form-control{
	background-color:transparent !important;
	
}
